php_value  error_reporting "E_ALL & ~E_NOTICE"

RewriteEngine on
RewriteCond %{REQUEST_URI} !^index\.php [NC]
RewriteCond %{REQUEST_URI} !^.*\.(css|js|gif|jpg|jpeg|png)$ [NC]
RewriteRule ^.*$ site/index.php [L]
